name: Release
on: workflow_dispatch

jobs:
  build:
    strategy:
      matrix:
        include:
          # https://github.com/actions/runner-images?tab=readme-ov-file#available-images
          # https://github.blog/changelog/2025-01-16-linux-arm64-hosted-runners-now-available-for-free-in-public-repositories-public-preview/
          -
            target: linux-x86_64
            runner: ubuntu-24.04
          -
            target: linux-arm64
            runner: ubuntu-24.04-arm
          -
            target: osx-x86_64
            runner: macos-15-intel
          -
            target: osx-arm64
            runner: macos-15
    uses: ./.github/workflows/build.yml
    with:
      target: ${{ matrix.target }}
      runner: ${{ matrix.runner }}

  release:
    runs-on: ubuntu-latest
    needs:
      - build

    env:
      VERSION: ${{ needs.build.outputs.version }}

    steps:
      -
        uses: actions/checkout@v5
      -
        uses: actions/download-artifact@v5
        with:
          name: xreferee-binary-linux-x86_64
          path: ./bin/
      -
        uses: actions/download-artifact@v5
        with:
          name: xreferee-binary-linux-arm64
          path: ./bin/
      -
        uses: actions/download-artifact@v5
        with:
          name: xreferee-binary-osx-x86_64
          path: ./bin/
      -
        uses: actions/download-artifact@v5
        with:
          name: xreferee-binary-osx-arm64
          path: ./bin/
      -
        name: Get CHANGELOG section
        run: |
          sed '/^# Unreleased/,/^$/d' CHANGELOG.md > /tmp/changelog-without-unreleased
          if [[ "$(head -n 1 /tmp/changelog-without-unreleased)" != "# v${VERSION}" ]]; then
            echo "CHANGELOG doesn't look updated" >&2
            exit 1
          fi
          sed '1 d; /^# v/,$ d' /tmp/changelog-without-unreleased > /tmp/changelog-body
      -
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ env.VERSION }}
          body_path: /tmp/changelog-body
          draft: true
          target_commitish: ${{ github.sha }}
          files: |
            bin/xreferee-${{ env.VERSION }}-linux-x86_64
            bin/xreferee-${{ env.VERSION }}-linux-arm64
            bin/xreferee-${{ env.VERSION }}-osx-x86_64
            bin/xreferee-${{ env.VERSION }}-osx-arm64
          fail_on_unmatched_files: true
